* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: #24272E;
    width: 30vw;
    margin: 0 auto;
    color: white;
    font-family: sans-serif;
}

/*
* ------styling for radio buttons (numberOfRounds)-------
*/

#radio-btn h3 {
    margin: 0 0 5% 0;
    padding-top: 5%;
}

#radio-btn {
    margin: 5vh auto 0 auto;
    padding-bottom: 3%;
    text-align: center;
    width: 30vw;
}

#radio-btn form {
    width: 45%;
    height: 6vh;
    margin: 0 auto;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-evenly;
}

#radio-btn form div {
    width: 75%;
    margin: 2vh auto 0 auto;
}

input[type=radio] {
    margin-left: 4%;
}


/*
*  ------------styling roundsWonOutput----------------
*/

#roundsWonOutput {
    width: 30vw;
    margin: 0 auto;
    padding: 10% 0 7% 0;
    display: flex;
    justify-content: center;
}

#roundsWonOutput h4 {
    font-size: 1.6rem;
    font-weight: lighter;
    margin: 0 8%;
    background-color: tomato;
}


#roundsWonOutput div {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
}

#roundsWonOutput div p {
    font-size: 1.6rem;
}

/*
*  ------------the winner is output-------------
*/

#finalWinner {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5%;
    font-size: 1.6rem;
}


/*
*  ------------buttons for rock, paper, scissors-------------
*/

#chooseYourMove {
    padding: 5% 0 10% 0;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#compOrUserWinOrDraw {
    font-size: 1.2rem;
}

#chooseYourMove form {
    padding: 5% 0 10% 0;
}

#chooseYourMove form button {
    padding: 2% 5%;
    border-radius: 10px;
    border: transparent;
}

#chooseYourMove form button:nth-of-type(2) {
    margin: 0 5%;
}

#userChoose {
    padding-top: 8%;
    font-size: .8rem;
}

#chooseYourMove h2 {
    color: green;
}

#chooseYourMove h3 {
    font-size: 1rem;
}


/*
*  -----------------------restart game-----------------------
*/

#boxRestart {
    width: 20%;
    padding: 3% 0 10% 0;
    margin: 0 auto;
    text-align: center;
}

#restart {
    display: inline;
    color: orange;
    text-decoration: underline;
    cursor: pointer;
}